[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
kivy = "*"
aiohttp = "*"
aiodns = "*"
mypy = "*"
pyinstaller = "*"
pytest = "*"
pytest-mock = "*"
rx = "*"
setuptools = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
